<%- include('./includes/header.ejs') %>

<div style="margin: 0 auto; max-width: 720px;padding: 30px 0;font-family: Arial, Helvetica, sans-serif;">
    <h3>Hello, <%= viewsData.user.firstName %></h3>
    <h3><%= viewsData.user.email %></h3>
    <h3><%= viewsData.content %></h3>
</div>

<%- include('./includes/footer.ejs') %>